<!DOCTYPE html>
<html>
  <head>
    <title>TikTok Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', defer: true %>
    <meta name="google-site-verification" content="kW-lG46WwVDF-X9LwmJaudjlUtXPnOk0yy5EJbM-yNc" />
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
